.inverse{
  background-color: #117d6b;
}

h1, h2, h3, h4, h5, h6, a{
  color: #117d6b;
}

.remark-slide-number{
  font-family: "palatino", times;
  color: #117d6b;
}

.inverse .remark-slide-number{
  color: #fff;
}

.remark-slide-content{
  font-size: 135%;
}
.left-column{
  width: 30%;
  float: left;
}
.right-column{
  width: 68%;
  float: right;
}
.left-column ul{
  list-style: none;
  padding-left: 0;
  font-family: Helvetica, Arial;
  line-height: 150%;
}
.spread, .spread summary{
  line-height: 2em;
}
summary{
  padding-bottom: 0.8em;
}
.mjx-chtml {
  font-size: 98%!important;
}
.red{
  color: red;
}
.bold{
  font-weight: bold;
}
.italics{
  font-style:italic;
}
.remark-code{
  font-size: 60%;
}
.side-caption{
  font-size: 65%;
  font-family: "Helvetica Neue", Arial;
  line-height: 150%;
  width: 90%;
}
#birthweight-example~p{
  width: 50%;
  float: left;
}
#birthweight-example{
  flex: 1;
}
.right-60-column{
  width: 60%;
  float: left;
}
.left-40-column{
  width: 40%;
  float: left;
}
.hidden{
  display: none;
}
#hidden-content {
    zoom: 2;
}
.flex-box{
  display:flex;
}
.flex-box > *{
  flex: 1
}
#use-cases~ul{
  list-style-type: square;
  padding-left: 25px;
}
.full-width{
  width: 100%;
  display: block;
  clear: both;
}
.frame-wrapper{
  position: relative;
  width: 100%;
  padding-bottom: 63%;
}
iframe.slide-frame{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
a, a:focus, a:hover, a:visited, a:active{
  text-decoration:none;
}
@media (min-width: 700px) {
  #main-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}
